<div class="flex flex-wrap p-3">
    <div class="w-full bg-white border rounded shadow p-6">
        <div class="flex flex-wrap">
            <div class="w-full mb-6 md:mb-0 mx-3">
                <accordion>
                    <group title="1. CANTIDAD DE BENEFICIARIOS / TEMARIO">
                        <minjus-indicadores-dashboard-eventos-temario></minjus-indicadores-dashboard-eventos-temario>
                    </group>
                    <group title="2. CANTIDAD DE BENEFICIARIOS / DIRECCIÓN DISTRITAL">
                        <minjus-indicadores-dashboard-eventos-distrito></minjus-indicadores-dashboard-eventos-distrito>
                    </group>
                  </accordion>
            </div>
        </div>
    </div>
</div>