<div class="flex flex-wrap p-3">
    <div class="w-full bg-white border rounded shadow p-6">
        <div class="flex flex-wrap">
            <div class="w-full mb-6 md:mb-0 mx-3">
                <accordion>
                    <group title="1. PATROCINIOS NUEVOS EN MATERIA PENAL">
                        <minjus-indicadores-dashboard-patrocinio-penal-periodo></minjus-indicadores-dashboard-patrocinio-penal-periodo>
                    </group>
                    <group title="2. PATROCINIOS NUEVOS EN MATERIA PENAL POR MES">
                        <minjus-indicadores-dashboard-patrocinio-penal-mensual></minjus-indicadores-dashboard-patrocinio-penal-mensual>
                    </group>
                    <group title="3. PATROCINIOS NUEVOS EN MATERIA PENAL POR RANGO DE EDAD">
                        <minjus-indicadores-dashboard-patrocinio-penal-edad></minjus-indicadores-dashboard-patrocinio-penal-edad>
                    </group>
                    <group title="4. PATROCINIOS NUEVOS EN MATERIA PENAL POR GÉNERO">
                        <minjus-indicadores-dashboard-patrocinio-penal-genero></minjus-indicadores-dashboard-patrocinio-penal-genero>
                    </group>
                    <group title="5. PATROCINIOS NUEVOS EN DEFENSA PENAL POR SEXO SEGÚN DIRECCIÓN DISTRITAL">
                        <minjus-indicadores-dashboard-patrocinio-penal-distrito></minjus-indicadores-dashboard-patrocinio-penal-distrito>
                    </group>
                  </accordion>
            </div>
        </div>
    </div>
</div>