<div class="flex flex-wrap p-3">
    <div class="w-full bg-white border rounded shadow p-6">
        <minjus-indicadores-dashboard-filtros [anioCombo]="true" [grupoServicioCombo]="true" [distritoJudicialCombo]="true" [sedeCombo]="true" (onSubmit)="obtenerGrafico($event)"></minjus-indicadores-dashboard-filtros>
    </div>
</div>
<div class="flex flex-wrap" [ngClass]="graficoDataSource.length > 0 ? '' : 'invisible'">
    <div class="w-full p-3">
        <div class="bg-white border rounded shadow p-2">
            <div id="chartdiv2" style="width: 100%;" [ngStyle]="{'height.px': chartHeight}"></div>
        </div>
    </div>
</div>