<div class="flex flex-wrap p-3">
    <div class="w-full bg-white border rounded shadow p-6">
        <div class="flex flex-wrap">
            <div class="w-full mb-6 md:mb-0 mx-3">
                <accordion>
                    <group title="1. CONSULTAS EN MATERIA PENAL POR PERIODO">
                        <minjus-indicadores-dashboard-consultas-penal></minjus-indicadores-dashboard-consultas-penal>
                    </group>
                    <group title="2. CONSULTAS EN MATERIA PENAL POR MES">
                        <minjus-indicadores-dashboard-consultas-diarias></minjus-indicadores-dashboard-consultas-diarias>
                    </group>
                    <group title="3. CONSULTAS EN MATERIA PENAL DE DEFENSA PENAL">
                        <minjus-indicadores-dashboard-consultas-defensa-penal></minjus-indicadores-dashboard-consultas-defensa-penal>
                    </group>
                  </accordion>
            </div>
        </div>
    </div>
</div>