<div class="pb-0 mx-auto flex flex-wrap pt-8 md:pt-0">
    <div class="w-full p-2 text-white bg-red-600 shadow-lg font-medium capitalize">
        <a [routerLink]="['/dashboard/consultas']" routerLinkActive="bg-red-700" class="px-2 py-1 cursor-pointer hover:bg-red-600 hover:text-red-200 text-sm rounded mb-5 transition-all">
            <i class="w-8 fas fa-search p-2 bg-red-700 rounded-full">
            </i>
            <span class="mx-1">Consultas</span>
        </a>
        <a [routerLink]="['/dashboard/patrocinios']" routerLinkActive="bg-red-700" class="px-2 py-1 cursor-pointer hover:bg-red-600 hover:text-red-200 text-sm rounded mb-5 transition-all">
            <i class="w-8 fas fa-handshake p-2 bg-red-700 rounded-full">
            </i>
            <span class="mx-1">Patrocinios</span>
        </a>
        <a [routerLink]="['/dashboard/exportaciones']" routerLinkActive="bg-red-700" class="px-2 py-1 cursor-pointer hover:bg-red-600 hover:text-red-200 text-sm rounded mb-5 transition-all">
            <i class="w-8 fas fa-file-export p-2 bg-red-700 rounded-full">
            </i>
            <span class="mx-1">Exportaciones</span>
        </a>
        <a [routerLink]="['/dashboard/eventos']" routerLinkActive="bg-red-700" class="px-2 py-1 cursor-pointer hover:bg-red-600 hover:text-red-200 text-sm rounded mb-5 transition-all">
            <i class="w-8 fas fa-calendar p-2 bg-red-700 rounded-full">
            </i>
            <span class="mx-1">Eventos</span>
        </a>
    </div>
</div>